table.table {
    box-shadow: 0 0 10px 0 rgb(50 50 50 / 82%);
}

/*table.table>thead>tr th {
    background-color: #eee;
}

button.btn {
    min-width: 80px;
}*/

/* Override*/
div.modal-dialog {
    max-width: 700px;
}

body{
    background-color: #2d3250;
}

#titulo{
    color: aliceblue;
}

#btn-adicionar, #btn-editar, #btn-excluir, #btn-pesquisar {
    background-color: #fdb17a;
    border: none;
    color: #363636;
    font-size: large;
    font-weight: 500;
}

#btn-adicionar:hover{
    background-color: #fdc094;
    color: #696969;
}

#btn-editar:hover{
    background-color: #fdc094;
    color: #696969;
}

#btn-excluir:hover{
    background-color: #fdc094;
    color: #696969;
}

#btn-pesquisar:hover{
    background-color: #fdc094;
    color: #696969;
}