table.table {
    box-shadow: 0 0 10px 0 rgb(50 50 50 / 82%);
}

table.table>thead>tr th {
    background-color: #eee;
}

button.btn {
    min-width: 80px;
}

/* Override */
div.modal-dialog {
    max-width: 700px;
}